.contact {
  background: #bfa2db;
  padding: 30px 0 0 0;
}

svg {
  width: 50px;
  fill: #f3f1f5;
  margin: 30px;
}

.footer-svg {
  width: 40px;
  fill: #f3f1f5;
  margin: 24px;
}

.footer-svg:hover {
  fill: #fff;
}

.icons {
  display: flex;
  justify-content: center;
}
a {
  color: #f0d9ff;
}

hr {
  background-color: #f3f1f5;
  height: 0.15px;
}
.texts {
  text-align: center;
  font-size: 16px;
}

.mail-text {
  color: #f3f1f5;
  padding-top: 20px;
}
.created-by {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0d9ff;
  font-size: 14px;
  padding: 16px;
}
@media only screen and (max-width: 600px) {
  .contact {
    padding: 24px 0 0 0;
  }

  svg {
    width: 20px;
    margin: 10px;
  }

  .texts {
    font-size: 14px;
  }

  .mail-text {
    padding-top: 10px;
  }

  .created-by {
    font-size: 12px;
  }
}

@media (min-width: 1800px) {
  .contact {
    padding: 44px 0 0 0;
  }

  svg {
    width: 80px;
    margin: 10px;
  }

  .texts {
    font-size: 22px;
  }

  .mail-text {
    padding-top: 40px;
  }

  .created-by {
    font-size: 20px;
  }
}
