.introduction {
  height: 80vh;
  padding: 100px;
  color: #7f7c82;
  font-weight: 500;
}

.hello {
  text-align: left;
  font-size: 8rem;
  letter-spacing: 5px;
  color: #bfa2db;
}

.name {
  font-size: 26px;
  margin: 50px 0px 0px 0px;
}

.description {
  font-size: 18px;
  margin: 20px 0px 0px 0px;
  line-height: 30px;
}
