.introduction {
  /* height: 65vh; */
  padding: 100px;
  color: #7f7c82;
  font-weight: 500;
}

.hello {
  text-align: left;
  font-size: 8rem;
  letter-spacing: 5px;
  color: #bfa2db;
}

.name {
  font-size: 26px;
  font-weight: 400;
  margin: 44px 0px 0px 0px;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 16px 0px 0px 0px;
  line-height: 30px;
}

/* responsive media */
@media (min-width: 1800px) {
  .introduction {
    padding: 44px 100px;
  }
  .hello {
    font-size: 10rem;
  }
  .name {
    font-size: 38px;
  }
  .description {
    margin-top: 44px;
    font-size: 2rem;
    line-height: 40px;
  }
}
@media (max-width: 1000px) {
  .introduction {
    /* height: 100vh; */
    padding: 25px;
  }
  .hello {
    font-size: 5rem;
  }

  .description {
    margin-top: 1rem;
  }
}
